.dap-breakpoints
.mc-lists.el
.org-id-locations
bookmarks
backups
certs*
*.desktop*
desktop/
elisp-objects*
history
kill-ring-saved.el
auto-save-list/
%backup*
elpa/
emojis/
eshell/history
eshell/lastdir
ido.last*
recentf*
request/
savefile/
session.*
tramp
undo_hist/
undo-fu-session/
places
transient/
r/
.cache/
eln-cache/
striaght/build
striaght/repos/*
themes/*
async-bytecomp.log
projects
straight/
tree-sitter/
devdocs/
spell-fu/
cache/
var/
savefold/
url/
